rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /scans/{scanId} {
      allow read, write: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
    }

    match /userProjects/{projectId} {
      allow read, write: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
    }

    match /users/{userId} {
      allow read, write, create: if isOwner(userId);

      match /carbonFootprint/{docId} {
        allow read, write, create: if isOwner(userId);
      }

      match /carbonGoals/{docId} {
        allow read, write, create, delete: if isOwner(userId);
      }
    }
  }
}